<h1>Weather#index</h1>

<p>Enter an address and we'll look up the weather:</p>

<%= form_tag(weather_show_path, method: :get) do %>
  <%= text_field_tag :street_address, params[:street_address], size: 80 %>
  <%= submit_tag "Look Up Weather" %>
<% end %>